@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
  font-family: "Digital7";
  src: url("./assets/digital-7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --color1: #4169E1;
    --color2: #1E90FF;
    --color3: #87CEEB;
    --color4: linear-gradient(
        135deg,
        #87CEEB 25%,
        #6bb6d6 25%,
        #6bb6d6 50%,
        #87CEEB 50%,
        #87CEEB 75%,
        #6bb6d6 75%,
        #6bb6d6
    );
  --color5: #FFD580;
  --color6: #90EE90;
  --color7: slategray;
  --color8: linear-gradient(
        135deg,
        #000000 25%,
        #222222 25%,
        #222222 50%,
        #000000 50%,
        #000000 75%,
        #222222 75%,
        #222222
    );
  --color9: gray;
}

html { 
    font-size: 62.5%;
    overflow-x: hidden;
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#left-home {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100vh;
    top: 0;
    left: 0;
    outline: .3rem solid black;
    gap: 2.5rem;
    font-family: "Poppins", sans-serif;
    background-image: url('/left-home-2.jpg');
    background-repeat: no-repeat;
    background-position: auto;
}


#left-home #website-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    opacity: .9;
    width: 100%;
    outline: .2rem solid white;
}

#left-home #website-title h1 {
    font-size: 12rem;
    text-transform: uppercase;
    color: white;
    text-shadow: 5px 5px 1px skyblue;
    font-family: "Digital7";    
}

#left-home #button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#left-home #button-container button {
    width: auto;
    border-radius: .8rem;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 1.5rem;
    font-family: "Digital7";
    color: black;
    background: white;
    opacity: .9;
    cursor: pointer;
    font-size: 2rem;
    text-shadow: 2px 2px 2px skyblue;
}

#left-home #button-container button.active {
    background: black;
    color: white;
    outline: .2rem solid white;

}

#right-home {
    position: relative;
    top: 0;
    left: 20.1%;
    width: 60%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: .3rem solid black;
    background: rgb(31, 27, 27);
}

#right-home #basic-calculator {
    font-family: "Noto Sans Math", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40rem;
    height: auto;
    outline: .2rem solid black;
    padding: 2.5rem;
    gap: 2.5rem;
    background:  var(--color4);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: .8rem;
}

#right-home #basic-calculator #upper-part {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: .8rem;
}

#right-home #basic-calculator #upper-part #name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

#right-home #basic-calculator #upper-part #name p {
    font-size: 2.5rem;
    font-family: "Archivo Black", sans-serif;
}

#right-home #basic-calculator #upper-part #solar-container {
    width: 17.5rem;
    height: 100%;
    padding: .5rem;
    outline: .2rem solid black;
    border-radius: .8rem;
    background: var(--color2);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#right-home #basic-calculator #upper-part #solar-container #solar-panel {
    width: 100%;
    height: 100%;
    outline: .2rem solid black;
    border-radius: .3rem;
    background: darkred;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

#right-home #basic-calculator #screen-container {
    width: 100%;
    height: 10rem;
    padding: .8rem;
    outline: .2rem solid black;
    border-radius: .8rem;
    background: var(--color1);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#right-home #basic-calculator #screen {
    outline: .2rem solid black;
    width: 100%;
    height: 100%;
    border-radius: .3rem;
    background: var(--color9);
    overflow: hidden;
    font-family: "Digital7", monospace;
}

#right-home #basic-calculator #screen #uppertext, 
#right-home #basic-calculator #screen #lowertext {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 60%;
    outline: .2rem solid black;
}

#right-home #basic-calculator #screen #uppertext p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 5rem;
    padding: 0 1rem;
    text-align: right;
}

#right-home #basic-calculator #screen #lowertext p {
    height: 100%;
    font-size: 3.5rem;
    padding: 0 1rem;
    text-align: right;
}

#right-home #basic-calculator #screen #uppertext p:empty::before,
#right-home #basic-calculator #screen #lowertext p:empty::before {
    content: attr(data-placeholder);
    color: black;
    opacity: 0.5;
} 



#right-home #basic-calculator #buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 2.5rem;
}

#right-home #basic-calculator #buttons #buttons-1R,
#right-home #basic-calculator #buttons #buttons-2R,
#right-home #basic-calculator #buttons #buttons-3R,
#right-home #basic-calculator #buttons #buttons-4R {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
    height: 4rem;
}

#right-home #basic-calculator #buttons #buttons-1R {
    justify-content: space-between;
}

#right-home #basic-calculator #buttons #buttons-1R .space {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-weight: bold;
}

#right-home #basic-calculator #buttons #buttons-1R .space #digits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
}

#right-home #basic-calculator #buttons #buttons-1R .space #digits #upper-digit {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100%;
    font-family: "Michroma", sans-serif;
}

#right-home #basic-calculator #buttons #buttons-1R .space #digits #upper-digit p {
    font-size: 1.9rem;
}

#right-home #basic-calculator #buttons #buttons-1R .space #digits #lower-digit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#right-home #basic-calculator #buttons #buttons-1R .space #digits #lower-digit p {
    font-size: 1rem;
    text-transform: uppercase;
}

#right-home #basic-calculator #buttons #buttons-1R .space #version {
    width: 13rem;
}

#right-home #basic-calculator #buttons #buttons-1R .space #version p {
    font-size: 1.5rem;
}

#right-home #basic-calculator #buttons #buttons-5R {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10.5rem;
    gap: 2.5rem;
}

#right-home #basic-calculator #buttons #buttons-5R #buttons-5R1C {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 27.5rem;
    height: 100%;
}

#right-home #basic-calculator #buttons #buttons-5R #buttons-5R1C #buttons-5R1C1R,
#right-home #basic-calculator #buttons #buttons-5R #buttons-5R1C #buttons-5R1C2R { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
    height: 4rem;
}

#right-home #basic-calculator #buttons #buttons-5R #buttons-5R2C {
    height: 100%;
    width: 100%;
}

.calbutton {
    width: 5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    border-radius: .8rem;
    font-weight: bold;
    background: var(--color1);
    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    outline: .2rem solid black;
    cursor: pointer;
    transition: .3s;
}

.calbutton.clicked {
    scale: calc(.85);
    transition: .3s;
}

.calbutton.red {
    background:  var(--color2);
}

.space {
    width: auto;
    height: 100%;
}

.square {
    outline: .2rem solid black;
    width: 4rem;
    height: 100%;
}

#right-home #scientific-calculator {
    outline: .2rem solid white;
    width: 40rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    padding: 2.5rem;
    background: var(--color8);
    border-radius: .8rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

#right-home #scientific-calculator #s-upper-part {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: .8rem;
    margin-bottom: 1.5rem;
}

#right-home #scientific-calculator #s-upper-part #s-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

#right-home #scientific-calculator #s-upper-part #s-name p {
    font-size: 2.5rem;
    font-family: "Archivo Black", sans-serif;
    color: white;
}

#right-home #scientific-calculator #s-upper-part #s-solar-container {
    width: 17.5rem;
    height: 100%;
    padding: .5rem;
    outline: .2rem solid black;
    border-radius: .8rem;
    background: var(--color7);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#right-home #scientific-calculator #s-upper-part #s-solar-container #s-solar-panel {
    width: 100%;
    height: 100%;
    outline: .2rem solid black;
    border-radius: .3rem;
    background: darkred;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

#right-home #scientific-calculator #s-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: .2rem solid black;
    width: 100%;
    min-height: 11.44rem;
    height: auto;
    padding: .8rem;
    margin-bottom: 1rem;
    border-radius: .8rem;
    background: var(--color7);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-family: "Open Sans", sans-serif;
}

#right-home #scientific-calculator #s-screen-container #s-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: .2rem solid black;
    width: 100%;
    height: 100%;
    min-height: 9.84rem;
    border-radius: .5rem;
    overflow: hidden;
    background: var(--color9);
}

#right-home #scientific-calculator #s-screen-container #s-screen #s-uppertext, 
#right-home #scientific-calculator #s-screen-container #s-screen #s-lowertext {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
#right-home #scientific-calculator #s-screen-container #s-screen #s-uppertext {
    height: 5.84rem;
    font-size: 2.5rem;
    padding: 0 1rem;
    border-bottom: .1rem solid black;
}

#right-home #scientific-calculator #s-screen-container #s-screen #s-lowertext { 
    height: 3.84rem;
    border-top: .1rem solid black;
}


#right-home #scientific-calculator #s-screen-container #s-screen #s-uppertext p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2.5rem;
    text-align: right;
}

#right-home #scientific-calculator #s-screen-container #s-screen #s-lowertext p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    padding: 0 1rem;
    text-align: right;
}


#right-home #scientific-calculator #s-screen-container #s-screen #s-uppertext p:empty::before,
#right-home #scientific-calculator #s-screen-container #s-screen #s-lowertext p:empty::before {
    content: attr(data-placeholder);
    color: black;
    opacity: 0.5;
} 

#right-home #scientific-calculator #s-modes {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    gap: 1rem;
}

.s-modes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: .1rem solid white;
    border-radius: .5rem;
}

.s-modes-container:nth-child(4) {
    outline: none;
}

.DRG {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: auto;
    padding: 0 .5rem;
    background: black;
    cursor: pointer;
    border-radius: .5rem;
}

.DRG.active {
    background: var(--color7);
}

.s-modes-container #s-mode-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 3.613rem;
    padding: 0 .5rem;
    background: black;
    cursor: pointer;
    border-radius: .5rem;
}

.s-modes-container #s-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 3.613rem;
    padding: 0 .5rem;
    background: black;
    cursor: pointer;
    border-radius: .5rem;
}

.s-modes-container .s-shiftkey-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: auto;
    padding: 0 .8rem;
    background: var(--color5);
    cursor: pointer;
    border-radius: .5rem;
}

.s-modes-container .s-alphakey-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: auto;
    padding: 0 .8rem;
    background: var(--color6);
    cursor: pointer;
    border-radius: .5rem;
}

.DRG p,
.s-modes-container #s-mode-2 p,
.s-modes-container #s-format p {
    color: white;
    font-size: .8rem;
}

.s-modes-container #s-mode-2 p {
    color: lightskyblue;
}

.s-modes-container .s-shiftkey-active p,
.s-modes-container .s-alphakey-active p {
    color: black;
    font-size: .8rem;
}

#right-home #scientific-calculator #s-body-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 1.5rem;
}

#right-home #scientific-calculator #s-body-1 #s-body-1-1C,
#right-home #scientific-calculator #s-body-1 #s-body-1-2C,
#right-home #scientific-calculator #s-body-1 #s-body-1-3C {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: .3rem;
}


#right-home #scientific-calculator #s-body-1 #s-body-1-1C #s-body-1-1C1R,
#right-home #scientific-calculator #s-body-1 #s-body-1-1C #s-body-1-1C2R,
#right-home #scientific-calculator #s-body-1 #s-body-1-2C #s-body-1-2C1R,
#right-home #scientific-calculator #s-body-1 #s-body-1-2C #s-body-1-2C2R,
#right-home #scientific-calculator #s-body-1 #s-body-1-3C #s-body-1-3C1R,
#right-home #scientific-calculator #s-body-1 #s-body-1-3C #s-body-1-3C2R {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.s-body-1-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 4.584rem;
    height: 100%;
}

#right-home #scientific-calculator #s-body-1 #s-body-1-1C #s-body-1-1C2R .s-body-1-container:nth-child(1) .s-calbutton2,
#right-home #scientific-calculator #s-body-1 #s-body-1-3C #s-body-1-3C2R .s-body-1-container:nth-child(1) .s-calbutton2 {
    border-top-left-radius: 1.8rem;
}

#right-home #scientific-calculator #s-body-1 #s-body-1-1C #s-body-1-1C2R .s-body-1-container:nth-child(2) .s-calbutton2,
#right-home #scientific-calculator #s-body-1 #s-body-1-3C #s-body-1-3C2R .s-body-1-container:nth-child(2) .s-calbutton2 {
    border-top-right-radius: 1.8rem;
}

#right-home #scientific-calculator #s-body-1 #s-body-1-2C #s-body-1-2C1R .s-body-1-container:nth-child(1) .s-calbutton2 {
    border-top-left-radius: 1.8rem;
}

#right-home #scientific-calculator #s-body-1 #s-body-1-2C #s-body-1-2C1R .s-body-1-container:nth-child(2) .s-calbutton2 {
    border-top-right-radius: 1.8rem;
}

#right-home #scientific-calculator #s-body-1 #s-body-1-2C #s-body-1-2C2R .s-body-1-container:nth-child(1) .s-calbutton2 {
    border-bottom-left-radius: 1.8rem;
}

#right-home #scientific-calculator #s-body-1 #s-body-1-2C #s-body-1-2C2R .s-body-1-container:nth-child(2) .s-calbutton2 {
    border-bottom-right-radius: 1.8rem;
}

#right-home #scientific-calculator #s-body-1 #s-body-1-1C #s-body-1-1C1R .s-body-1-container .s-calbutton2 p,
#right-home #scientific-calculator #s-body-1 #s-body-1-3C #s-body-1-3C1R .s-body-1-container .s-calbutton2 p {
    font-size: 1.2rem;
}

#right-home #scientific-calculator #s-body-1 #s-body-1-1C #s-body-1-1C1R .s-body-1-container:nth-child(1) .s-shiftalpha {
    background: var(--color5);
}

#right-home #scientific-calculator #s-body-1 #s-body-1-1C #s-body-1-1C1R .s-body-1-container:nth-child(2) .s-shiftalpha {
    background: var(--color6);
}


#right-home #scientific-calculator #s-body-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

#right-home #scientific-calculator #s-body-2 #s-body-2-1R,
#right-home #scientific-calculator #s-body-2 #s-body-2-2R,
#right-home #scientific-calculator #s-body-2 #s-body-2-3R {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 4rem;
}

#right-home #scientific-calculator #s-body-2 #s-body-2-3R .s-body-2-container:nth-child(1) .s-calbutton2 {
    border-bottom-left-radius: 1.8rem;
}

#right-home #scientific-calculator #s-body-2 #s-body-2-3R .s-body-2-container:nth-child(6) .s-calbutton2 {
    border-bottom-right-radius: 1.8rem;
}

.s-body-2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5rem;
    height: 100%;
}

.s-AS-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: pre;
    height: 1.573rem;
}

.s-calbutton2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.584rem;
    height: 2.428rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: .8rem;
    background: var(--color7);
    transition: .3s;
    cursor: pointer;
}

.s-shiftalpha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.584rem;
    height: 2.428rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: .8rem;
    background: var(--color7);
    transition: .3s;
    cursor: pointer;
}

.s-shiftalpha p {
    color: black;
    font-size: 1.3rem;
}

.s-calbutton2 p {
    color: white;
    font-size: 1.3rem;
}

#right-home #scientific-calculator #s-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: .5rem;
}

#right-home #scientific-calculator #s-buttons #s-buttons-1R,
#right-home #scientific-calculator #s-buttons #s-buttons-2R,
#right-home #scientific-calculator #s-buttons #s-buttons-3R,
#right-home #scientific-calculator #s-buttons #s-buttons-4R {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 4rem;

}

.s-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.s-AS {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    white-space: pre;
}

.s-S {
    color: var(--color5);
}

.s-A {
    color: var(--color6);
}

.s-calbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: .8rem;
    background: var(--color7);
    transition: .3s;
    cursor: pointer;
}

.s-calbutton.clicked,
.s-calbutton2.clicked,
.s-shiftalpha.clicked {
    transition: .3s;
    scale: calc(.85);
}
button {
    background: WHITE;
    color: black;
 }
.s-calbutton.gray p,
.gray p {
    color: var(--color9);
}

#right-home #scientific-calculator #s-buttons #s-buttons-1R .s-button-container:nth-child(1) .s-calbutton {
    border-top-left-radius: 1.8rem;
}

#right-home #scientific-calculator #s-buttons #s-buttons-1R .s-button-container:nth-child(5) .s-calbutton {
    border-top-right-radius: 1.8rem;
}

#right-home #scientific-calculator #s-buttons #s-buttons-4R .s-button-container:nth-child(1) .s-calbutton {
    border-bottom-left-radius: 1.8rem;
}

#right-home #scientific-calculator #s-buttons #s-buttons-4R .s-button-container:nth-child(5) .s-calbutton {
    border-bottom-right-radius: 1.8rem;
}

.s-calbutton p {
    font-size: 2rem;
    color: white;
}

@media (max-width: 800px) {
    #left-home {
        position: relative;
        width: 100%;
    }
    #right-home {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        padding: 2.5rem 0;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 55%;
    }
}